* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #ffffff3c;
  color: #eeece3;
}

.container {
  width: 800px;
}

header {
  background-color: #232e3f;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  width: 100%;
}

header h1 {
  margin: 0;
  font-weight: 550;
}

note-header {
  letter-spacing: 2px;
}

main {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

.note {
  max-width: 100%;
}

form {
  margin-top: 20px;
}

button:hover {
  background-color: #2e476b;
}

.filter {
  margin-bottom: 40px;
  padding: 32px;
  color: #232e3f;
  text-align: center;
  width: 100%;
  border: groove;
}

.filter>h2 {
  margin-top: -5px;
  margin-bottom: 25px;
}

#filterNotes {
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  color: #232e3f;
  width: 100%;
  padding: 12px 8px;
  margin-top: 20px;
  background-color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: groove;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#filterNotes>option {
  color: #232e3f;
  background-color: white;
}

#filterNotes:hover,
#filterNotes:focus-visible {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.focused {
  border: 1px double #232e3f;
}

.note-list {
  min-width: 350px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin-block: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  column-gap: 32px;
  row-gap: 32px;
}

.note-item {
  padding: 20px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  max-width: 100%;
  min-width: 384px;
  overflow: auto;
  border: groove;
}

.note-title {
  color: #232e3f;
  text-align: center;
  font-size: 24px;
}

.note-body {
  color: #000000;
  white-space: pre-line;
  font-size: 18px;
  font-weight: lighter;
  max-width: 100%;
  padding: 40px;
  margin: 10px 0 10px;
  border: groove;
}

.note-item:hover,
.note-item:focus-visible {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0));
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  display: none;
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #232e3f;
  animation: spin 1s linear infinite;
}

footer {
  background-color: #232e3f;
  /* Sesuaikan warna footer */
  color: #fff;
  padding: 15px 0px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

.action>.button-archived {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 15px;
  padding: 7px 12px;
  color: #ffffff;

  /* background: url("../img/archive-note.png");
  background-size: contain;
  cursor: pointer; */
  margin-left: auto;
  background-color: #232e3f;
  border: none;
}

.action>.button-unarchived {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 15px;
  padding: 7px 12px;
  color: #ffffff;

  /* background: url("../img/archive-note.png");
  background-size: contain;
  cursor: pointer; */
  margin-left: auto;
  background-color: #232e3f;
  border: none;
}

.action>.button-recovery-note {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 15px;
  padding: 7px 12px;
  color: #ffffff;

  /* background: url("../img/recovery-note.png");
  background-size: contain;
  cursor: pointer; */
  margin-left: auto;
  background-color: #232e3f;
  border: none;
}

.action>.button-delete {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 15px;
  padding: 7px 12px;
  color: #ffffff;

  /* background: url("../img/icons-delete.png");
  background-size: contain;
  cursor: pointer; */
  margin-left: 14px;
  background-color: #232e3f;
  border: none;
}

.action>.button-archived:hover {
  background-color: #2f3d53;
}

.action>.button-unarchived:hover {
  background-color: #2f3d53;
}

.action>.button-delete:hover {
  background-color: #2f3d53;
}

.action>.button-recovery-note:hover {
  background-color: #2f3d53;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  main {
    grid-template-columns: 1fr;
  }
}